<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>HomeFilter</filter-name>
        <filter-class>filter.HomeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/add-user</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin-user</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HomeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandServlet</servlet-name>
        <servlet-class>controller.BrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandsServlet</servlet-name>
        <servlet-class>controller.BrandsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsServlet</servlet-name>
        <servlet-class>controller.ProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>controller.DetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>controller.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddUserServlet</servlet-name>
        <servlet-class>controller.AdminAddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDisableUserServlet</servlet-name>
        <servlet-class>controller.AdminDisableUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserServlet</servlet-name>
        <servlet-class>controller.AdminUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <servlet-class>controller.LoginGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddBrandServlet</servlet-name>
        <servlet-class>controller.Admin.AdminAddBrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddCategoryServlet</servlet-name>
        <servlet-class>controller.Admin.AdminAddCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddProductModelServlet</servlet-name>
        <servlet-class>controller.Admin.AdminAddProductModelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddProductServlet</servlet-name>
        <servlet-class>controller.Admin.AdminAddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddSubcategoryServlet</servlet-name>
        <servlet-class>controller.Admin.AdminAddSubcategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBrandServlet</servlet-name>
        <servlet-class>controller.Admin.AdminBrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCategoryServlet</servlet-name>
        <servlet-class>controller.Admin.AdminCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteBrandServlet</servlet-name>
        <servlet-class>controller.Admin.AdminDeleteBrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteCategoryServlet</servlet-name>
        <servlet-class>controller.Admin.AdminDeleteCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteProductModelServlet</servlet-name>
        <servlet-class>controller.Admin.AdminDeleteProductModelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteProductServlet</servlet-name>
        <servlet-class>controller.Admin.AdminDeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteSubcategoryServlet</servlet-name>
        <servlet-class>controller.Admin.AdminDeleteSubcategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditBrandServlet</servlet-name>
        <servlet-class>controller.Admin.AdminEditBrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditCategoryServlet</servlet-name>
        <servlet-class>controller.Admin.AdminEditCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditProductModelServlet</servlet-name>
        <servlet-class>controller.Admin.AdminEditProductModelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditProductServlet</servlet-name>
        <servlet-class>controller.Admin.AdminEditProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditSubcategoryServlet</servlet-name>
        <servlet-class>controller.Admin.AdminEditSubcategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminOrderDetailServlet</servlet-name>
        <servlet-class>controller.Admin.AdminOrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminOrderServlet</servlet-name>
        <servlet-class>controller.Admin.AdminOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProcessingOrderServlet</servlet-name>
        <servlet-class>controller.Admin.AdminProcessingOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductServlet</servlet-name>
        <servlet-class>controller.Admin.AdminProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controller.Admin.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSubcategoryServlet</servlet-name>
        <servlet-class>controller.Admin.AdminSubcategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdersServlet</servlet-name>
        <servlet-class>controller.OrdersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandServlet</servlet-name>
        <url-pattern>/brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandsServlet</servlet-name>
        <url-pattern>/brands</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsServlet</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/editprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddUserServlet</servlet-name>
        <url-pattern>/admin-add-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDisableUserServlet</servlet-name>
        <url-pattern>/admin-disable-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserServlet</servlet-name>
        <url-pattern>/admin-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <url-pattern>/login-google</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddBrandServlet</servlet-name>
        <url-pattern>/admin-add-brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddCategoryServlet</servlet-name>
        <url-pattern>/admin-add-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddProductModelServlet</servlet-name>
        <url-pattern>/admin-add-productmodel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddProductServlet</servlet-name>
        <url-pattern>/admin-add-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddSubcategoryServlet</servlet-name>
        <url-pattern>/admin-add-subcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBrandServlet</servlet-name>
        <url-pattern>/admin-brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCategoryServlet</servlet-name>
        <url-pattern>/admin-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteBrandServlet</servlet-name>
        <url-pattern>/admin-delete-brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteCategoryServlet</servlet-name>
        <url-pattern>/admin-delete-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteProductModelServlet</servlet-name>
        <url-pattern>/admin-delete-productmodel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteProductServlet</servlet-name>
        <url-pattern>/admin-delete-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteSubcategoryServlet</servlet-name>
        <url-pattern>/admin-delete-subcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditBrandServlet</servlet-name>
        <url-pattern>/admin-edit-brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditCategoryServlet</servlet-name>
        <url-pattern>/admin-edit-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditProductModelServlet</servlet-name>
        <url-pattern>/admin-edit-productmodel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditProductServlet</servlet-name>
        <url-pattern>/admin-edit-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditSubcategoryServlet</servlet-name>
        <url-pattern>/admin-edit-subcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOrderDetailServlet</servlet-name>
        <url-pattern>/admin-order-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOrderServlet</servlet-name>
        <url-pattern>/admin-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProcessingOrderServlet</servlet-name>
        <url-pattern>/admin-processing-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductServlet</servlet-name>
        <url-pattern>/admin-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSubcategoryServlet</servlet-name>
        <url-pattern>/admin-subcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdersServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
